<div class="row">
    <div id="tests" class="small-4 columns">
        <nav class="top-bar" data-topbar>
            <ul class="title-area">
                <li class="name">
                    <h1>{{#link-to 'index'}}Tests{{/link-to}}</h1>
                </li>
            </ul>
            <section class="top-bar-section">
                <!-- Right Nav Section -->
                <ul class="right">
                    <li class="info">
                    <a {{action 'refresh'}}><i class="fa fa-plus"></i> Refresh List</a>
                    </li>
                    <li class="info">
                    {{#link-to 'test.add'}}<i class="fa fa-plus"></i> Add A Test{{/link-to}}
                    </li>
                </ul>
            </section>
        </nav>
          
        <ul class="small-block-grid-1">
            {{#each ppfa_test in controller.paginatedContent}}
            <li>
                <div class="panel test">
                      <ul class="no-bullet">
                        <li class="name">
                            Test Name: {{#link-to "test" ppfa_test}}{{ppfa_test.name}} (# {{ppfa_test.id }}){{/link-to}}
                        </li>
                        <li class="info">
                          Created: {{format-date ppfa_test.date_created "LL"}} 
                        </li>      
                        <li class="info">
                          Last Run: {{format-date ppfa_test.last_run "LL"}}
                        </li>
                        <li class="info">
                          Status: {{boolean-success ppfa_test.status}}
                        </li>
                        <li class="info">
                            <ul class="right bare inline-list">
                                <li class="runs">
                                    {{#link-to 'runs' ppfa_test}}Test Runs{{/link-to}}
                                </li>
                                <li class="steps">
                                    {{#link-to 'steps' ppfa_test}}Test Steps{{/link-to}}
                                </li>
                            </ul>
                        </li>
                        <li class="info">
                            <ul class="right bare inline-list">
                                <!--
                                <li class="add">
                                    <a {{ action "addRun" ppfa_test }}><i class="fa fa-plus"></i> Add</a>
                                </li>
                                -->
                                <li class="run">
                                    <a {{ action "runRun" ppfa_test }}><i class="fa fa-play"></i> Run</a>
                                </li>
                                <li class="edit">
                                    <a {{ action "editRun" ppfa_test }}><i class="fa fa-pencil-square-o"></i>  Edit</a>
                                </li>
                                <li class="delete">
                                    <a {{ action "deleteRun" ppfa_test }}><i class="fa fa-trash-o"></i> Delete</a>
                                </li>
                            </ul>
                        </li>
                      </ul>
                </div>
            </li>
            {{/each}}
        </ul>
        
        {{pagination-links item=this qs='page' page=page num_pages=num_pages}}
        
    </div>                       
    <div class="small-8 columns">
        {{ outlet }}
    </div> 
</div>