{{#form-for model}}
  {{input subject placeholder="Enter the test subject"}}
  {{autocomplete verb placeholder="Enter the test verb" params="name" modeltype="ppfaTestStepType" listFormat="<span style='color: red'>&nbsp;%s</span>" valueFormat="%s"}}
  {{input object placeholder="Enter the test object"}}
  {{#if isNew}}
  <button  {{action "create" model}} class="small"><i class="fa fa-save"></i> Create</button>
  {{else}}
  <button  {{action "edit" model}} class="small"><i class="fa fa-save"></i> Save</button>
  {{/if}}
{{/form-for}}